services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    container_name: dev-client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - node_modules_client:/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true
    networks: [dev]

networks:
  dev:

volumes:
  node_modules_client:
